---
layout: archive
title: "Open Positions"
permalink: /positions/
author_profile: true
---

{% include base_path %}


{% for post in site.positions %}
  {% include archive-single.html %}
{% endfor %}

<p>Pokud Vás žádná z nabízených prací nezaujala nebo žádné nejsou vyvěšeny, na tématech se můžeme osobně domluvit.</p>

<p>If none of the offered jobs interest you or none are posted, we can personally discuss the topics.</p>

<p>提示された仕事のどれにも興味が持てない場合、または求人が掲載されていない場合は、直接そのトピックについて話し合うことができます。</p>
